.link{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    border: none;

}


video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
body{
    background-image: url("background.jpg");
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: black;
}
.header{
    position: center;
    text-align: center;
    font-size: 500%;
    color: whitesmoke;
    border: 10px;
    margin: 0%;



}
.header2{
    position: center;
    text-align: center;
    font-size: 300%;
    color: whitesmoke;
    border: 10px;
    margin: 0%;



}