@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
    font-style: normal;
}
body{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    display: grid;
    background-image: url(backgroundpiano.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    justify-items: center;

}

main{
    display: flex;
    margin-top: 10px;
    margin-bottom: 275px;

    
}

.white-key{
    height: 500px;
    width: 60px;
    border: solid 1px black;
    position: relative;
    z-index: 2;
    border-radius: 0px 0px 15px 15px;
    background-color: ivory;

}
.black-key{
    height: 300px;
    width: 40px;
    background-color: black;
    margin-left:-20px;
    margin-right:-20px;
    position: relative;
    z-index: 3;
    border-radius:0px 0px 15px 15px;
}
.white-key-pressed{
    background-color: rgb(92, 91, 91);
    outline-style: solid;
    outline-width: 3px;
    outline-color: blue;
    outline-offset: -2px;

}
.home-link{
    display: flex;
    background-color: ivory;
    z-index: 4;
    height: 40px;
    border: solid 2px;
    border-color: black;
    margin: 40px;
    width: 110px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    font-family: Roboto;


}